@media all and (max-width: 992px){
  .jumbotron{
    background-size: 50%;
    /* background-size: auto; */
    /* background-size: contain; */
    background-position: 100% 100%;
    background-color: #e0f2fc;
    padding: 1rem 0 2rem 0 ;
    margin: 0;
  }
  .faq .faq-row{
    /* background: linear-gradient(to bottom, #293f54 50%, #34526c 50%); */
    background: linear-gradient(to bottom, #293f54 100%, #34526c 0%);
    padding: 0;
  }

  .faq .faq-row-inverted{
    /* background: linear-gradient(to bottom, #293f54 50%, #34526c 50%); */
    background: linear-gradient(to bottom, #293f54 100%, #34526c 0%);
    color: rgb(255, 255, 255);
    padding: 0;
  }

  .wereco .recommendation.best-choice {
    background-image: none;
  }

  .wereco .recommendation.best-choice .review {
    background-image: url(../img/best-choise.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
  }

  .recommendation .logo p{
    margin-left: 3rem;
  }

  .recommendation .read-review {
    padding-left: 3rem;
  }

  .recommendation .logo .learn-more {
    display: none;
  }

}
