html{
  font-size: 16px;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

body{
  background-color: #e0f2fc;
  font-family: "Nunito Sans", sans-serif;
}

header{
  background-color: #e0f2fc;
}

.navbar {
  border: 0;
  border-radius: 0;
  background-color: #e0f2fc;
}

.jumbotron{
  background-color: #e0f2fc;
  padding: 1.5rem;
}

.jumbotron h1{
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.125rem; /* 50/16 */
  font-weight: 100;
  color: rgb(41, 63, 84);
}

.jumbotron h2{
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem; /* 18/16 */
  font-weight: 100;
  color: rgb(41, 63, 84);
}

.img-back{
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: right;
}

.wereco{
  background-color: #f9fcfe;
}
