html{
  font-size: 16px;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

body{
  background-color: #f9fcfe;
  font-family: "Nunito Sans", sans-serif;
}

section.top {
  background-color: #e0f2fc;
}

.navbar {
  border: 0;
  border-radius: 0;
  background-color: #e0f2fc;
  margin: 0;
}

.jumbotron{
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 95% 100%;
  background-color: #e0f2fc;
  padding: 1rem 0 2rem 0 ;
  margin: 0;
}

.jumbotron h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.125rem; /* 50/16 */
  font-weight: 100;
  color: rgb(41, 63, 84);
}

.jumbotron p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem; /* 18/16 */
  font-weight: 100;
  color: rgb(41, 63, 84);
}

section.wereco{
  background-color: #f9fcfe;
}

.wereco .section-header {
  margin-top: 3.063rem; /* 49/16 */
  margin-bottom: 2.938rem; /* 47/16 */
  text-align: center;
  font-size: 2.25rem; /* 36/16 */
  font-family: "Nunito Sans", sans-serif;
  color: rgb(41, 63, 84);
  font-weight: lighter;
}

.wereco .recommendation {
  /* ONLY ON BIG SCREENS */
  display: flex;
  background-color: #fff;
  margin: 0 0 0.563rem 0;
  padding: 0 0 1.25rem 1rem;
  border-right: 3px solid #d6ebf6;
  font-family: "Nunito Sans", sans-serif;
}

.wereco .recommendation.best-choice {
  background-image: url(../img/best-choise.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.recommendation h2 {
  /*font-family: "Nunito Sans", sans-serif; */
  font-weight: bolder;
  font-size: 1.25rem; /* 20/16 */
}

.recommendation h3 {
  /* font-family: "Nunito Sans", sans-serif; */
  font-weight: bold;
  font-size: 1rem; /* 16/16 */
  color: rgb(52, 82, 108);
}

.recommendation p {
  /* font-family: "Nunito Sans", sans-serif; */
  font-weight: bold;
  font-size: 0.938rem; /* 15/16 */
  color: rgb(52, 82, 108);
}

.recommendation .fa-star {
  color: #f4d86a;
}

.recommendation .green-stuff {
  color: #b3d560;
}

.recommendation ul.features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem; /* 16/16 */
  color: rgb(52, 82, 108);
}

.recommendation .features .fa-check {
  color: #b3d560;
}

.recommendation .description {
  /* font-family: "Nunito Sans", sans-serif; */
  background-color: #f6fbfe;
  color: rgb(52, 82, 108);
  font-weight: lighter;
  font-style: italic;
  font-size: 0.813rem; /* 13/16 */
}

.recommendation .read-review {
  font-weight: bold;
  font-size: 0.75rem; /* 12/16 */
  color: rgb(52, 82, 108);
}

.recommendation .logo .learn-more{
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 1.25rem; /* 20/16 */
  background-image: url(../img/learn-more.png);
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;

  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #fff;
  justify-content: center;
  display: flex;
  align-items:center;
  transition: opacity .2s ease-in-out;
}

.recommendation .logo:hover .learn-more {
  opacity: 1;
}

.btn {
font-family: "Montserrat", sans-serif;
font-size: 1.125rem; /* 18/16 */
color: rgb(255, 255, 255);
background-color: #a6ce39;
border: 0;
border-radius: 0;
padding: 1.0rem 2.7rem;
text-align: center;
}

.btn-default:hover {
  color: rgb(255, 255, 255);
  background-color:#b1db3d;
  border-color: none;
}

.btn-default:focus, .btn-default:active{
  color: rgb(255, 255, 255);
  background-color:#b1db3d;
  border-color: none;
}

.btn-content{
  text-align: center;
}

.mostpopu{
  background-color: rgb(255, 255, 255);
}

.mostpopu h2{
  font-size: 2.25rem; /* 36/16 */
  font-family: "Nunito Sans", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.mostpopu .thumbnail{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.mostpopu .thumbnail .caption p{
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem; /* 16/16 */
  text-align: left;
}

.faq{
  background-color: rgb(255, 255, 255);
}

.faq .faq-row{
  /* ONLY ON BIG SCREENS */
  background: linear-gradient(to right, #293f54 50%, #34526c 50%);
  color: rgb(255, 255, 255);
}

.faq .faq-row-inverted{
  /* ONLY ON BIG SCREENS */
  background: linear-gradient(to left, #293f54 50%, #34526c 50%);
  color: rgb(255, 255, 255);
}

 h2.title-faq{
  font-size: 2.25rem;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.faq h2.subtitle{
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem; /* 24/16 */
  font-weight: lighter;
}

.faq p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.938rem;  /* 15/16 */
  font-weight: lighter;
}

.faq .features-faq{
  color: rgb(255, 255, 255);
  list-style: none;
}

.faq .list-faq{
  list-style: none;
}

footer p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem; /* 14/16 */
  font-weight: 100;
  color: rgb(41, 63, 84);
  text-align: center;
  margin: 3rem 0 3rem;
}

ul.footer-nav {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.footer-nav li:first-child{
  border-left: 0;
}

.footer-nav li{
  margin: .25em 0;
  padding: 0 1em;
  border-left: 1px solid rgb(41, 63, 84);
  background-color: #fff;
}

.footer-nav li>a{
  color: rgb(41, 63, 84);
  text-decoration: none;
}
